input[type="range"] {
  display: flex;
  margin-inline: auto;
  overflow: hidden;
  width: 80%;
  height: 1rem;
  border-radius: 8px;
  appearance: none;
  accent-color: #3bde7c;
}

input[type="range"]::-webkit-slider-thumb {
  width: 0px;
  appearance: none;
  height: 10px;
  box-shadow: -20em 0 0 20em #3bde7c;
}

.testBackground {
  background-image: url("../assets/testBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 2rem;
}

.btn_next_disabled {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  border: none;
  font-size: 1.4rem;
  width: 200px;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 20px;
  background-color: #dadada;
  color: #8e8e8e;
  transition: all 0.3s ease-in;
  margin-top: 30px;
}

.btn_next {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  border: none;
  font-size: 1.4rem;
  width: 200px;
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 20px;
  background-color: #ffc700;
  color: black;
  transition: all 0.3s ease-in;
  margin-top: 30px;
}
